{% extends 'questions/base.html' %}
{% load staticfiles %}
{% block css_js %}
    <link rel="stylesheet" type="text/css" href="{% static 'questions/css/style.css' %}" />
{% endblock %}
{% block title %} TEST title {% endblock %}
{% block content %}
    <!-- 信任html输出 -->
    {% autoescape off %}
        {{ question_content }}

        <form action = "{% url 'questions:user_submit' 1 %}" method = "post">
            <div><input name="user_answer" type="checkbox" value="A" />A</div>
            <div><input name="user_answer" type="checkbox" value="B" />B</div>
            <div><input name="user_answer" type="checkbox" value="C" />C</div>
            <div><input name="user_answer" type="checkbox" value="D" />D</div>
            <div><input type="submit" value="Submit" /></div>
        </form>
    {% endautoescape %}
{% endblock %}


