{% extends 'questions/base.html' %}
{% load staticfiles %}
{% block css_js %}
    <link rel="stylesheet" type="text/css" href="{% static 'questions/css/style.css' %}" />
{% endblock %}
{% block title %} TEST title {% endblock %}
{% block content %}
    <!-- 信任html输出 -->
    {% autoescape off %}
        {{ question_content }}
    {% endautoescape %}
    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4">
            <form action="{% url 'questions:question_detail' pqr.id %}" method="post">
                {% csrf_token %}
                    
                    {% for field in form %}
                        {% for radio in field %}
                            <div>{{ radio }}</div><br/>
                        {% endfor %}
                    {% endfor %}
                    {% comment %}
                    {{ form.as_table }}
                    {% endcomment %}
                <input type="submit" value="Submit" />
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}


